footer.special-styles {
	margin-top: 0 !important;
	background-color: #020305 !important;
}

main {
	background: url('/resources//keghan-crossland-qBX6EMdy0a4-unsplash.jpeg');
	background-position: bottom;
}
