<% layout('layouts/boilerplate') %>

<h1>Viewing all campgrounds</h1>
<a href="/campgrounds/new">Add a new camp</a>
<ul>
	<% for (let campground of campgrounds) { %>
	<li>
		<a href="<%= `/campgrounds/${ campground.id }` %>">
			<%= campground.name %>
		</a>
	</li>
	<% } %>
</ul>
