<% layout('layouts/boilerplate') %>
<div class="row">
	<h1 class="text-center">Add Campground</h1>
	<div class="col-6 offset-3">
		<form action="/campgrounds" method="post" novalidate class="validated-form">
			<div class="mb-3">
				<label for="name" class="form-label">Name</label>
				<input
					type="text"
					class="form-control"
					id="name"
					name="campground[name]"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">What is the camp name?</div>
			</div>
			<div class="mb-3">
				<label for="location" class="form-label">Location</label>
				<input
					type="text"
					class="form-control"
					id="location"
					name="campground[location]"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Where is the campground?</div>
			</div>
			<div class="mb-3">
				<label for="price" class="form-label">Price</label>
				<div class="input-group">
					<span class="input-group-text" id="price-label">$</span>
					<input
						type="number"
						class="form-control"
						id="price"
						name="campground[price]"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please enter a valid price.</div>
				</div>
			</div>
			<div class="mb-3">
				<label for="image" class="form-label">Image URL</label>
				<input
					type="url"
					class="form-control"
					id="image"
					name="campground[image]"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please enter a valid image URL.</div>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea
					class="form-control"
					id="description"
					name="campground[description]"
					rows="5"
					required
				></textarea>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please describe the camp.</div>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-success">Save</button>
			</div>
		</form>
		<a href="/campgrounds">View all camps</a>
	</div>
</div>
