<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>View Campground</title>
	</head>
	<body>
		<h1><%= campground.name %></h1>
		<div><em><%= campground.location %></em></div>
		<a href="/campgrounds">View all camps</a>
		<a href="/campgrounds/<%= campground.id %>/edit">Edit</a>
		<form
			action="/campgrounds/<%= campground.id %>?_method=DELETE"
			method="post"
		>
			<button type="submit">Delete</button>
		</form>
	</body>
</html>
