<% layout('layouts/boilerplate') %>

<h1><%= campground.name %></h1>
<div><em><%= campground.location %></em></div>
<a href="/campgrounds">View all camps</a>
<a href="/campgrounds/<%= campground.id %>/edit">Edit</a>
<form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post">
	<button type="submit">Delete</button>
</form>
